*{
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

.navbar{
    width: 100%;
    height: 50px;
    background-color: black;
}

.navbar-container{
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100%;
    color: white;
    font-family: 'Sen', sans-serif;
}

.logo-container{
    flex: 1;
}

.logo{
    font-size: 30px;
    color: darkgreen;
}

.menu-container{
    flex: 6;   
}


.menu-list{
    display: flex;
    list-style: none;
}

.menu-list-iteam{
    margin-right: 30px;
}

.menu-list-iteam.active{
    font-weight: bold;
}

.profile-container{
    flex: 2;  
    display: flex; 
    align-items: center;
    justify-content: flex-end; 
}

.profile-text-container{
    margin: 0 20px;
}

.profile-picture{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;

}

.toggle{
    width: 40px;
    height: 20px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.toggle-icon{
    color: burlywood;
}

.toggle-ball{
    width: 18px;
    height: 18px;
    background-color: black;
    position: absolute;
    right: 1px;
    border-radius: 50%;
    cursor: pointer;

}

.sidebar{
    width: 50px;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

.left-menu-icon{
    color: white;
    font-size: 20px;
    margin-bottom: 40px;
}


.container{
    background-color: #151515;
    min-height: calc(100vh - 50px);
    color: white;
}

.content-container{
    margin-left: 50px;
}

.films{
    height: 50vh;
    padding: 50px;
}

.films-title{

    width: 300px;
}

.films-desc{
    width: 900px;
    color: lightgrey;
    margin: 30px 0;
    position: relative;
    bottom: 55px;

}

.films-button{
    background-color: darkgreen;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: bold;
    position: relative;
    bottom: 55px;
}

.films-list-container{
    padding: 20px;
}

.films-list{
    display: flex;
    align-items: center;
    height: 300px;
}

.films-list-item{
    margin-right: 25px;
    position: relative;
}

.films-list-item:hover .films-list-item-img{
    transform: scale(1.2);
    margin: 0 30px;
    opacity: 0.5;
    
}

.films-list-item:hover .films-list-item-title,
.films-list-item:hover .films-list-item-desc{
    opacity: 1;
}

.films-list-item-img{
    width: 255px;
    height: 240px;
    object-fit: cover;
    transition: all 1s ease-in-out;
}

.films-list-item-title{
    background-color: #333;
    padding: 0 10px;
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 50px;
    opacity: 0;
    transition: 1s all ease-in-out;
    top: 2px;

}

.films-list-item-desc{
    background-color: #333;
    padding: 10px;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50px;
    width: 200px;
    opacity: 0;
    transition: 1s all ease-in-out;
}

.container.active{
    background-color: white;
}

.films-list-title.active{
    color: black;
}

.navbar-container.active{
    background-color: white;
    color: black;
}

.sidebar.active{
    background-color: white;
}

.left-menu-icon.active{
    color: black;
}

.toggle.active{
    background-color: black;
}

.toggle-ball.active{
    background-color: white;
    transform: translateX(-20px);
}